<template>
  <div id="app" class="bg-light h-screen">
    <!--<img src="./assets/logo.png">-->
    <Navbar />
    <router-view />
  </div>
</template>

<script>
import Navbar from '@/components/Navbar.vue'

export default {
  components: {
    Navbar
  }
}
</script>
<style>
.h-screen {
  height: 100vh;
}
</style>
