<template>
  <div class="">

    <div id="todo-list-example" class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <h1 class="text-center">Actualizar</h1>
          <form v-on:submit.prevent="updateTask">
            <label for="allnameinput">Nombre</label>
            <input v-model="allname" id="allnameinput" class="form-control">
            <label for="allnameinput">Edad</label>
            <input class="input1" id="alldateinput" v-model="alldate" type="date" placeholder="Edad">
            <div></div>
            <label for="allnameinput">Ubicacion</label>
            <input v-model="alllocation" id="alllocationinput" class="form-control">
            <label for="allnameinput">Genero</label>
            <div class="wrap-input1 validate-input" data-validate = "location is required">
            <input v-model="allgender" type="radio" id="allgenderinput" name="allgender" value="m">
            <label for="masculino">Masculino</label><br>
            <input v-model="allgender" type="radio" id="allgenderinput" name="allgender" value="f">
            <label for="femenino">Femenino</label><br>
          </div>
            <!-- Estableciendo Imagen -->
          <form action="" style="justify-content: flex-end;">
          <div class="form-group">
            <label class="contact1-form-btn">Imagen
            <input type="file" @change="obtenerImagen">
            </label>
          </div>
          <figure>
          <img v-if="allimage" class="image" style="border-radius: 100px;" :src="image" width="200" height="100" alt="image" />
          </figure>
          </form>

            <button type="button" v-on:click="updateTask()" class="btn btn-primary btn-block  mt-3">
              Update
            </button>
          </form>
          <table class="table">
            <tr v-for="(todo) in todos" v-bind:key="todo.id" v-bind:name="todo.name" v-bind:location="todo.location" v-bind:gender="todo.gender" v-bind:image="todo.image" v-bind:date="todo.date">
              <td class="text-left">{{todo.name}}</td>
              <td class="text-right">
                <button v-on:click="editTask(todo.name, todo.id, todo.location, todo.gender, todo.image, todo.date)" class=" btn btn-info ">Edit</button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {

      imagenMiniatura: '',
      message: null,
      allname: '',
      allgender: '',
      alllocation: '',
      allimage: '',
      alldate: '',
      todos: []
    }
  },
  mounted () {
    this.getTasks()
  },
  methods: {
    // Mostrar y actualizar datos
    getTasks () {
      return axios.get('/api/users', {
        headers: { Authorization: `Bearer ${localStorage.usertoken}` }
      }
      ).then(
        result => {
          console.log(result.data)
          this.todos = result.data
        },
        error => {
          console.error(error)
        }
      )
    },
    editTask (name, id, location, gender, image, date) {
      this.id = id
      this.allname = name
      this.alllocation = location
      this.allgender = gender
      this.allimage = image
      this.alldate = date
    },
    updateTask () {
      axios.put(`/api/users/${this.id}`,
        {
          name: this.allname,
          location: this.alllocation,
          gender: this.allgender,
          image: this.allimage,
          date: this.alldate

        }
      ).then((res) => {
        // this.allname = ''
        this.getTasks()
        console.log(res)
      }).catch((err) => {
        console.log(err)
      })
    },

    // Seccion imagen
    obtenerImagen (e) {
      let file = e.target.files[0]
      this.form.image = file
      this.cargarImagen(file)
      this.form.image = this.form.image.name
      this.form.accountant = 0
      this.form.verification = false
      this.redirect = ''
      // console.log(file)
    },
    cargarImagen (file) {
      let reader = new FileReader()

      reader.onload = (e) => {
        this.imagenMiniatura = e.target.result
      }
      reader.readAsDataURL(file)
    }
  },
  computed: {
    image () {
      return this.imagenMiniatura
    }
  }
}
</script>
<style>
  @import '../design/fonts/font-awesome-4.7.0/css/font-awesome.min.css';
  @import '../design/vendor/animate/animate_register.css';
  @import '../design/css/util_register.css';
  @import '../design/css/main_register.css';
</style>
