<template>
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <div class="login100-pic js-tilt" data-tilt>
          <img src="../design/images/lim.jpeg" alt="IMG" />
        </div>
        <form class="login100-form validate-form" v-on:submit.prevent="login">
          <span class="login100-form-title">Boutique</span>
          <div
            class="wrap-input100 validate-input"
            data-validate="Valid email is required: ex@abc.xyz"
          >
            <input
              type="email"
              v-model="email"
              name="email"
              class="input100"
              placeholder="Email"
            />
            <span class="focus-input100"></span>
            <span class="symbol-input100"
              ><i class="fa fa-envelope" aria-hidden="true"></i
            ></span>
          </div>
          <div
            class="wrap-input100 validate-input"
            data-validate="Password is required"
          >
            <input
              type="password"
              v-model="password"
              name="password"
              class="input100"
              placeholder="Contraseña"
            />
            <span class="focus-input100"></span>
            <span class="symbol-input100"
              ><i class="fa fa-lock" aria-hidden="true"></i
            ></span>
          </div>
          <div v-if="error" id="error" class="alert alert-danger mt-3">
            <span class="spinner-border spinner-border-sm mr-2"></span>
            <span class="text-danger">
              {{ error }}
            </span>
          </div>
          <div v-if="errors" id="errors" class="alert alert-dangers mt-3">
            <span class="spinner-border spinner-border-sm mr-2"></span>
            <span class="text-danger">
              {{ errors }}
            </span>
          </div>
          <div class="container-login100-form-btn">
            <button type="submit" id="submit" class="login100-form-btn">
              Login
            </button>
          </div>
          <div class="text-center p-t-12">
            <span class="txt1">Olvidó su</span>
            <a class="txt2" href="#">Usuario / Contraseña?</a>
          </div>
          <div class="text-center p-t-10">
            <a class="txt2" href="http://localhost:8080/register"
              >Crear cuenta<i
                class="fa fa-long-arrow-right m-l-5"
                aria-hidden="true"
              ></i
            ></a>
          </div>
        </form>
        <div class="validate-form flex-sb flex-w">
          <GoogleLogin
            class="btn-google m-b-20"
            :params="params"
            :onSuccess="sociallogin"
          >
            <img
              src="https://icon-icons.com/icons2/729/PNG/96/google_icon-icons.com_62736.png"
            />Google</GoogleLogin
          >
          <GoogleLogin
            class="btn-google m-b-20"
            :params="params"
            :onSuccess="sociallogin"
          >
            <img
              src="https://icon-icons.com/icons2/840/PNG/128/Facebook_icon-icons.com_66933.png"
            />Facebook</GoogleLogin
          >
          <!--<FacebookLogin
            class="btn-google m-b-20"
            appId="2776014579345886"
            @login="onLogin"
            @sdk-loaded="sdkLoaded"
          >
            <img
              src="https://icon-icons.com/icons2/840/PNG/128/Facebook_icon-icons.com_66933.png"
            />Facebook
          </FacebookLogin>-->
        </div>
      </div>
    </div>
  </div>
</template>

<style>
@import "../design/fonts/font-awesome-4.7.0/css/font-awesome.min.css";
@import "../design/vendor/animate/animate_login.css";
@import "../design/css/util_login.css";
@import "../design/css/main_login.css";
</style>
<script src="../design/vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="../design/vendor/bootstrap/js_login/popper.js"></script>
<!--
<script src="../design/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="../design/vendor/select2/select2.min.js"></script>
<script src="../design/vendor/tilt/tilt.jquery.min.js"></script>
<script >
  $('.js-tilt').tilt({
    scale: 1.1
  })
</script>
<script src="../design/js/main_login.js"></script>-->
<script>
import axios from "axios";
import router from "../router";
import GoogleLogin from "vue-google-login";
import FacebookLogin from "facebook-login-vuejs";

export default {
  data() {
    return {
      email: "",
      password: "",
      error: false,
      errors:false,
      params: {
        client_id:
          "317165868281-ntucamqonb74f7t0khokgpcq3p6l5taq.apps.googleusercontent.com"
      }
    };
  },
  components: {
    FacebookLogin,
    FB: undefined,
    GoogleLogin
  },
  methods: {
    login() {
      axios
        .post("/api/login", {
          email: this.email,
          password: this.password
        })
        .then(res => {
          localStorage.setItem("usertoken", res.data.token);
          this.email = "";
          this.password = "";
          this.$root.$emit("login", true);
          localStorage.setItem("auth", "true");
          // this.$router.push({ name: 'Profile' })
          router.push({ name: "Profile" });
        })
        .catch(err => {
          if (err.response.status === 400) {
            this.error = err.response.data.error;
            console.log(this.error);
          }
        });
    },
    // Login with google
    sociallogin(googleUser) {
      axios
        .post("/api/social", {
          email: googleUser.getBasicProfile().zu,
          name: googleUser.getBasicProfile().Cd,
          password: googleUser.getBasicProfile().aV,
          image: null,
          date: null,
          gender: null,
          type: "g",
        })
        .then(res => {
          this.image = "";
          localStorage.setItem("usertoken", res.data.token);
          this.$root.$emit("login", true);
          localStorage.setItem("auth", "true");
          // this.$router.push({ name: 'Profile' })
          router.push({ name: "Profile" });
        })
        .catch(err => {
          if (err.response.status === 500) {
            this.errors = 'El usuario se encuentra registrado con otro proveedor';
            console.log(this.error);
          }
        });
    },
    // Login with Facebook
    getUserData() {
      this.FB.api(
        "/me",
        "GET",
        {
          fields: "id,name,email"
        },
        userInformation => {
          //console.warn(userInformation);
          axios
            .post("/api/social", {
              email: userInformation.email,
              name: userInformation.name,
              password: userInformation.id,
              image: null,
              date: null,
              gender: null,
              type: "f",
            })
            .then(res => {
              this.image = "";
              localStorage.setItem("usertoken", res.data.token);
              this.$root.$emit("login", true);
              localStorage.setItem("auth", "true");
              // this.$router.push({ name: 'Profile' })
              router.push({ name: "Profile" });
            })
            .catch(err => {
              console.log(this.err);
            });
        }
      );
    },
    sdkLoaded(payload) {
      this.isConnected = payload.isConnected;
      this.FB = payload.FB;
      if (this.isConnected) this.getUserData();
    },
    onLogin() {
      this.isConnected = true;
      this.getUserData();
    }
  }
};
</script>
