<template>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container">
      <div class="navbar-header">
        <router-link class="navbar-brand" to="/">Boutique</router-link>
      </div>
      <ul class="nav navbar-nav">
        <router-link v-if="!isLoggedIn" class="nav-item nav-link" :to="{ name: 'Login' }"> Inicio sesión
        </router-link>
        <router-link v-if="!isLoggedIn" class="nav-item nav-link" :to="{ name: 'Register' }"> Registro
        </router-link>
        <router-link v-if="isLoggedIn" class="nav-item nav-link" :to="{ name: 'Profile' }">
          Perfil
        </router-link>
        <a class="nav-item nav-link" v-if="isLoggedIn" @click.prevent="logout" href="#">Cerrar sesión</a>
      </ul>
    </div>
  </nav>
</template>

<script>

export default {
  data () {
    return {
      auth: '',
      user: '',
      isLoggedIn: false
    }
  },
  mounted () {
    this.$root.$on('login', () => {
      this.isLoggedIn = true
    })

    this.isLoggedIn = !!localStorage.getItem('auth')
  },

  methods: {
    logout () {
      localStorage.removeItem('auth')
      this.isLoggedIn = false
      this.$router.push({ name: 'Home' })
    }

  }
}
</script>
<style>
  @import '../design/fonts/font-awesome-4.7.0/css/font-awesome.min.css';
  @import '../design/vendor/animate/animate_login.css';
  @import '../design/css/util_login.css';
  @import '../design/css/main_login.css';
</style>
