<template>
    <div class="contact1">
      <div class="container-contact1">
        <div class="contact1-pic js-tilt" data-tilt>
          <img src="https://static.vecteezy.com/system/resources/previews/000/687/298/non_2x/e-commerce-business-internet-store-shopping-online-icons-vector.jpg" alt="IMG">
                      <h5>Siguenos en:
                      <a href="https://www.facebook.com/Verde-Limón-293599557498614/">
                      <h5>Facebook</h5>
                      </a>
                      <a href="https://www.instagram.com/">
                      <h5>instagram</h5>
                      </a>
                    </h5>
        </div>
        <form enctype="multipart/form-data" class="contact1-form validate-form">
          <span class="contact1-form-title">
            Regístrate
          </span>

          <div class="wrap-input1 validate-input" data-validate = "Name is required">
            <input class="input1" v-model="form.name" type="text" name="name" id="name" placeholder="Nombre Completo">
            <span class="text-danger" v-if="errors.name">
            {{ errors.name[0] }}
            </span>
          </div>

          <div class="wrap-input1 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
            <input class="input1" type="email" v-model="form.email" name="email" id="email" placeholder="Email">
            <span class="text-danger" v-if="errors.email">
            {{ errors.email[0] }}
            </span>
          </div>
          <div class="wrap-input1 validate-input" data-validate = "Subject is required">
            <input class="input1" v-model="form.date" type="date" min="15" oninput="validity.valid||(value='15');" name="subject" placeholder="Edad">
            <span class="text-danger" v-if="errors.date">
            {{ errors.date[0] }}
            </span>
          </div>
          <!-- Ubicacion del usuario -->
          <div class="wrap-input1 validate-input" data-validate = "location is required">
            <input class="input1" type="location" v-model="form.location" name="location" id="location" placeholder="Ubicación">
            <span class="text-danger" v-if="errors.location">
            {{ errors.location[0] }}
            </span>
          </div>
          <div class="wrap-input1 validate-input" data-validate = "location is required">
            <input v-model="form.gender" type="radio" id="gender" name="gender" value="m">
            <label for="masculino">Masculino</label><br>
            <input v-model="form.gender" type="radio" id="gender" name="gender" value="f">
            <label for="femenino">Femenino</label><br>
            <span class="text-danger" v-if="errors.gender">
            {{ errors.gender[0] }}
            </span>
          </div>
          <!-- Estableciendo Imagen -->
          <form action="" style="justify-content: flex-end;">
          <div class="form-group">
            <label class="contact1-form-btn">Imagen
            <input type="file" @change="obtenerImagen">
            </label>
          </div>
          <figure>
          <img v-if="image" class="image" style="border-radius: 100px;" :src="image" width="200" height="100" alt="image" />
          </figure>
          </form>
          <div class="wrap-input1 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
            <input class="input1" type="password" v-model="form.password" id="password" name="password"  placeholder="Contraseña">
            <span class="text-danger" v-if="errors.password">
            {{ errors.password[0] }}
            </span>
          </div>
          <div class="wrap-input1 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
            <input class="input1" type="password" v-model="form.password_confirmation" id="password_confirmation" name="password_confirmation"  placeholder="Confirmar Contraseña">
            <span class="text-danger" v-if="errors.password_confirmation">
            {{ errors.password_confirmation[0] }}
            </span>
          </div>
          <div class="container-contact1-form-btn">
            <button type="submit" @click.prevent="register" class="contact1-form-btn">
              <span>
                Registrarse
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <!--<div class="alert alert-success mt-3" v-if="message">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {{ message }}
          </div>-->
        </form>
      </div>
    </div>
</template>
<script>
import axios from 'axios'
// import { request } from 'http'
//  import router from '../router'

export default {
  data () {
    return {
      imagenMiniatura: '',
      message: null,
      form: {
        name: '',
        email: '',
        location: '',
        gender: '',
        history: '',
        relation_items: '',
        type: '',
        date: '',
        image: '',
        password: '',
        password_confirmation: '',
        accountant: '',
        verification: ''

      },
      errors: []
    }
  },
  methods: {
    obtenerImagen (e) {
      let file = e.target.files[0]
      this.form.image = file
      this.cargarImagen(file)
      this.form.image = this.form.image.name
      this.form.accountant = 0
      this.form.verification = false
      this.redirect = ''
      // console.log(file)
    },
    cargarImagen (file) {
      let reader = new FileReader()

      reader.onload = (e) => {
        this.imagenMiniatura = e.target.result
      }
      reader.readAsDataURL(file)
    },
    register () {
      // console.log(this.form.image)
      // const count = this.form.push('cows')
      axios.post('/api/register', this.form, {
      }).then(res => {
        // console.log(this.form)
        console.log(res)
        // this.message = 'Texto a mostrar'
        // alert('Texto a mostrar')

        // router.push({ name: 'Login' })
        if (res.status === 201) {
          this.alertDisplay()
        }
        // this.message = res.data.message
      }).catch(error => {
        if (error.response.status === 422) {
          this.errors = error.response.data.errors
        } else {
          this.errors = error.response.data.errors
        }
      })
    },
    alertDisplay () {
      this.$swal('Registro exitoso', 'Verifica tu correo electronico para validar tu cuenta', 'success').then((result) => {
        window.location.replace('http://127.0.0.1:8080/Login')
        // this.redirect()
      })
    },
    redirect () {
      // window.open('https://mail.google.com/')
      window.location.href = 'http://127.0.0.1:8080/Login'
    }
  },
  computed: {
    image () {
      return this.imagenMiniatura
    }
  }
}
</script>
<!-- Estilos y efectos -->
<style>
  @import '../design/fonts/font-awesome-4.7.0/css/font-awesome.min.css';
  @import '../design/vendor/animate/animate_register.css';
  @import '../design/css/util_register.css';
  @import '../design/css/main_register.css';
</style>
